<!--<button (click)="sendMessage()">Send Message</button>-->



<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="name">Enter your word </label>
          <input type="text" id="word" name="word" class="form-control" placeholder="Your word..." [(ngModel)]="this.wordInput">
        </div>
        <button id="send" class="btn btn-default" type="submit" [disabled]="this.wordInput===''" (click)="sendMessage()">Send</button>
      </form>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-md-12">
      <ul>
        <li *ngFor="let word of this.wordsOutput ">
          {{ word }}
        </li>
      </ul>
    </div>
  </div>
</div>
